{% extends "base.html" %}
{% block content %}

    <ul class="nav nav-pills bg-light shadow text-dark">
        {% for i in arg['logs'] %}
            <li class="nav-item"><a class="nav-link {{ 'active' if i == arg['log'] else '' }}" href="./{{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
    <div class="d-inline-block"></div>

    <div>
        <nav>
            {{ macros.m_tab_head_start() }}
            {{ macros.m_tab_head2('log_tab', '이전', true) }}
            {{ macros.m_tab_head2('real_tab', '실시간', false) }}
            {{ macros.m_tab_head_end() }}
        </nav>
        <div class="tab-content">
            {{ macros.m_tab_content_start('log_tab', true) }}
            <div>
                <textarea id="log_textarea" class="col-md-12" rows="30"></textarea>
            </div>

            <div class="form-inline">
                <button id="delete_button" class="btn btn-sm btn-outline-success">로그파일 삭제</button>
            </div>
            {{ macros.m_tab_content_end() }}

            {{ macros.m_tab_content_start('real_tab', false) }}
            <div>
                <textarea id="add_textarea" class="col-md-12" rows="30"></textarea>
            </div>

            <div class="form-inline">
                <label class="form-check-label" for="auto_scroll">자동 스크롤</label>
                <input id="auto_scroll" name="auto_scroll" class="form-control form-control-sm" type="checkbox" data-toggle="toggle" checked>
                <button id="clear_button" class="btn btn-sm btn-outline-success ml-5">리셋</button>
            </div>
            {{ macros.m_tab_content_end() }}
        </div>
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        const socket = io.connect(`${location.origin}/log`);
        socket.emit('start', {
            'package': '{{ arg["log"] }}'
        });

        socket.on('on_start', (data) => {
            const log_textarea = document.getElementById('log_textarea');
            log_textarea.value += data.data;
            log_textarea.scrollTop = log_textarea.scrollHeight;
        });

        socket.on('add', (data) => {
            if (data.package === '{{ arg["log"] }}') {
                const add_textarea = document.getElementById('add_textarea');
                add_textarea.value += data.data;
                if (document.getElementById('auto_scroll').checked) {
                    add_textarea.scrollTop = add_textarea.scrollHeight;
                }
            }
        });

        const clear_button = document.getElementById('clear_button');
        clear_button.addEventListener('click', (event) => {
            event.preventDefault();
            document.getElementById('add_textarea').value = '';
        });

        const delete_button = document.getElementById('delete_button');
        delete_button.addEventListener('click', (event) => {
            event.preventDefault();
            fetch(`/${package_name}/ajax/delete`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    log: '{{ arg["log"] }}'
                })
            });
        });
    </script>

{% endblock %}
