{% extends "base.html" %} {% block content %} {{
macros.setting_input_text_and_buttons('package', '설치할 패키지명',
[['install_btn', '설치']]) }} {{ macros.m_hr() }}

<div id="list_div">
  {% for i in arg['packages'] %} {{ macros.info_text_and_buttons(i[0], i[0],
  [['%s_btn' % i[0], i[1]], ['%s_upgrade' % i[0], '업데이트'], ['%s_uninstall' %
  i[0], '제거']]) }} {% endfor %}
</div>

<script>
  'use strict';
  const package_name = '{{ arg["package_name"] }}';
  const sub = '{{ arg["sub"] }}';
</script>
<script src="{{ url_for('.static', filename='%s.js' % arg['template_name']) }}"></script>

{% endblock %}
