{% extends "base.html" %}
{% block content %}

    <div>
        {{ macros.setting_input_text_and_buttons('package_text', '설치할 패키지명', [['install_button', '설치']]) }}
        {{ macros.m_hr() }}
        <div id="list_div">
            {% for i in arg['packages'] %}
                {{ macros.info_text_and_buttons(i[0] + '_text', i[0], [[i[0] + '_button', i[1]], [i[0] + '_upgrade', '업데이트'], [i[0] + '_uninstall', '제거']]) }}
            {% endfor %}
        </div>
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        // 패키지 설치
        const install_button = document.getElementById('install_button');
        install_button.addEventListener('click', (event) => {
            event.preventDefault();
            const name = document.getElementById('package_text').value;
            if (name === '') {
                notify('패키지명을 입력하세요.', 'warning');
                return;
            }
            fetch(`/${package_name}/ajax/install`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    name: name
                })
            }).then((response) => response.json()).then(showModal);
        });

        // 패키지 업데이트/제거
        const list_div = document.getElementById('list_div');
        list_div.addEventListener('click', (event) => {
            event.preventDefault();
            const target = event.target;
            if (target.tagName !== 'BUTTON') {
                return;
            }
            let name = target.id;
            switch (target.textContent) {
                case '업데이트':
                    name = name.replace(/_upgrade$/, '');
                    fetch(`/${package_name}/ajax/install`, {
                        method: 'POST',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                        body: new URLSearchParams({
                            name: name
                        })
                    }).then((response) => response.json()).then(showModal);
                    break;

                case '제거':
                    name = name.replace(/_uninstall$/, '');
                    fetch(`/${package_name}/ajax/uninstall`, {
                        method: 'POST',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        },
                        body: new URLSearchParams({
                            name: name
                        })
                    }).then((response) => response.json()).then(showModal);
                    break;
            }
        });

        function showModal(data) {
            let str = '';
            for (const i of data['content']) {
                str += `<div>${i}</div>`;
            }
            document.getElementById('modal_title').innerHTML = data['title'];
            document.getElementById('modal_body').innerHTML = str;
            $('#large_modal').modal();
        }
    </script>

{% endblock %}
