{% extends "base.html" %}
{% block content %}

    {{ macros.info_text_and_buttons('ffmpeg_download', 'FFmpeg 다운로드', [['ffmpeg_version_btn', '버전확인'], ['ffmpeg_git_btn', 'git master'], ['ffmpeg_release_btn', 'release']], desc=['git master: ' + arg['ffmpeg_git'], 'release: ' + arg['ffmpeg_release']]) }}

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';

        // FFmpeg 버전확인
        const ffmpeg_version_btn = document.getElementById('ffmpeg_version_btn');
        ffmpeg_version_btn.addEventListener('click', (event) => {
            event.preventDefault();
            fetch('/ffmpeg/ajax/ffmpeg_version', {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then((response) => response.json()).then((data) => {
                let str = '';
                for (const i of data) {
                    str += `<div>${i}</div>`;
                }
                document.getElementById('modal_title').innerHTML = 'ffmpeg -version';
                document.getElementById('modal_body').innerHTML = str;
                $('#large_modal').modal();
            });
        });

        // FFmpeg 업데이트 (git master)
        const ffmpeg_git_btn = document.getElementById('ffmpeg_git_btn');
        ffmpeg_git_btn.addEventListener('click', (event) => {
            event.preventDefault();
            fetch(`/${package_name}/ajax/ffmpeg`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    type: 'git',
                    name: '{{ arg["ffmpeg_git"] }}'
                })
            }).then((response) => response.json()).then(success);
        });

        // FFmpeg 업데이트 (release)
        const ffmpeg_release_btn = document.getElementById('ffmpeg_release_btn');
        ffmpeg_release_btn.addEventListener('click', (event) => {
            event.preventDefault();
            fetch(`/${package_name}/ajax/ffmpeg`, {
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                body: new URLSearchParams({
                    type: 'release',
                    name: '{{ arg["ffmpeg_release"] }}'
                })
            }).then((response) => response.json()).then(success);
        });

        function success(data) {
            if (!data.success) {
                notify(data.message, 'warning');
            }
        }
    </script>

{% endblock %}
