{% extends "base.html" %}
{% block content %}

    <div>
        {{ macros.info_text('path_app_root_text', 'path_app_root', arg['path_app_root']) }}
        {{ macros.info_text('path_data_text', 'path_data', arg['path_data']) }}
        {{ macros.info_text('app.config_text', 'app.config', arg['config']|safe) }}

        {{ macros.m_hr() }}

        {% for i in arg['platform'] %}
            {{ macros.info_text(i[0] + '_text', i[0], i[1]) }}
        {% endfor %}

        {{ macros.m_hr() }}

        {% for i in arg['sys'] %}
            {{ macros.info_text(i[0] + '_text', i[0], i[1]) }}
        {% endfor %}
    </div>

    <script>
        "use strict";
        const package_name = '{{ arg["package_name"] }}';
    </script>

{% endblock %}
